$main-color: #2196f3;
$main-color-alt: #1787e0;
$main-color-black: black;
$main-color-white: white;
$main-color-ddd: #ddd;
$main-color-ececec: #ececec;

///font color artical
$main-color-font: rgb(152, 149, 149);

/*##########################################################################*/
$min-shadow: 0 0 10px #ddd;


$main-transition: 0.3s;

/*##########################################################################*/
$in: 10px 10px 10px;

